.dark .card {
    background: #000000; 
}

.project-card .card-text {
    text-align: center;
  }

.portrait-title h3 {
    font-family: "Merriweather", serif;
}

.navbar-brand {
    font-family: "Bungee Shade", sans-serif;
}